$--font-path: "~element-plus/lib/theme-chalk/fonts";

html,
body {
  min-height: 100vh;
  background-color: black;
  max-width: 100%;
  font-family: "Raleway", sans-serif;
}

@import "~element-plus/packages/theme-chalk/src/index";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
